# .NET
bin/
obj/
*.user
*.suo
.vs/
*.swp

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
terraform/outputs/*.env
terraform/outputs/*.yml

# Docker
*.tar.gz

# NEVER commit secrets
*.pem
*.key
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
